{% load static %}
{% load todo_tags %}
<!DOCTYPE html>
<html ng-app="myTodoApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Simple TODO app</title>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
</head>
<body class="container">
    <div class="row">
    {% include "navbar.html" %}
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-view></div>
    </div>

    <script src="{% static "vendor/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "vendor/angular/angular.min.js" %}"></script>
    <script src="{% static "vendor/angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "vendor/angular-route/angular-route.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

</body>
</html>