<div class="row" ng-init="initial()">
    <div class="col-md-6">
        <h1>User Profile Preview:</h1>
        <div class="well">
            <p>Hello this is <b ng-show="settings.username">{{ settings.username }} </b><b ng-show="!settings.username">?? </b>
                I'm <b ng-show="settings.age">{{ settings.age }} </b><b ng-show="!settings.age">not too old and not too young.. </b>and I live in <b ng-show="settings.country">{{ settings.state }}, {{ settings.country }}</b><b ng-show="!settings.country">somewhere on the planet</b>.</p>
            <p>If you would like to contact me, you could send me an email to: <b>{{ settings.email }}</b>, Let's keep in touch!</p>
        </div>
        <div class="well" ng-repeat="client in settings.clients">
            <h3>{{ client.name }}</h3>
            <p><b>URL:</b> {{ client.url }}</p>
            <p><b>Client ID:</b> {{ client.client_id }}</p>
            <p><b>Client Secret:</b> {{ client.client_secret }}</p>
        </div>
    </div>
    <div class="col-md-6 pull-right well">
        <form class="form" name="form" ng-submit="save()">
            <legend>Update Settings</legend>
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" placeholder="Username" ng-model="settings.username" value="{{ settings.username }}" ng-minlength="4" ng-maxlength="15" ng-pattern="/^(?![0-9]*$)[a-zA-Z0-9]+$/" required>
                <div ng-show="form.username.$dirty && form.username.$invalid">
                    <p class="error-msg" ng-show="form.username.$error.required">This field is required.</p>
                    <p class="error-msg" ng-show="form.username.$error.minlength">Not large enough, minimum 4 characters.</p>
                    <p class="error-msg" ng-show="form.username.$error.maxlength">Wow! it cannot be so large, maximum 15 characters.</p>
                    <p class="error-msg" ng-show="form.username.$error.pattern">The username is an alphanumeric field that must have at least one alphabetic character.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" placeholder="Email" ng-model="settings.email" value="{{ settings.email }}" required>
                <div ng-show="form.email.$dirty && form.email.$invalid">
                    <p class="error-msg" >We are sorry, but this is not a valid email.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input name="age" type="number" class="form-control" placeholder="Age" ng-model="settings.age" value="{{ settings.age }}" min="6" max="140">
                <div ng-show="form.age.$dirty && form.age.$invalid">
                    <p class="error-msg" ng-show="form.age.$error.min">At this age you have things to do!? Mamma miaa!</p>
                    <p class="error-msg" ng-show="form.age.$error.max">WOW! You are more than 140 years old?! We would love to meet you!</p>
                </div>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input name="country" type="text" class="form-control" placeholder="E.g: United States of America" ng-model="settings.country" value="{{ settings.country }}">
            </div>
            <div class="form-group">
                <label>State / Province</label>
                <input name="state" type="text" class="form-control" placeholder="Colorado" ng-model="settings.state" value="{{ settings.state }}">
            </div>
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="form.$dirty && form.$invalid">Save</button>
        </form>
    </div>
</div>
